<div ng-controller="OverviewCtrl">
<h2>Projekte</h2>

<a ng-href="#/add">
  <button type="button" ng-click="newProject()" class="btn btn-success">
    Neues Projekt
  </button>
</a>

<table st-safe-src="rowCollection" st-table="displayedCollection" class="table table-striped">
  <thead>
    <tr>
      <th st-sort="projectId">ID</th>
      <th st-sort="projectName">Projektname</th>
      <th st-sort="projectLeader">Projektleiter</th>
      <th st-sort="projectLength">Projektdauer</th>
      <th st-sort="employees">Mitarbeiter</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
      <td>{{row.projectId}}</td>
      <td>{{row.projectName}}</td>
      <td>{{row.projectLeader}}</td>
      <td>{{row.projectLength}}</td>
      <td>{{row.employees}}</td>
      <td>
        <button type="button" ng-click="editRow(row)" class="btn btn-sm btn-primary">
          <i class="glyphicon glyphicon-edit"></i>
        </button>
      </td>
      <td>
        <button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
        <i class="glyphicon glyphicon-remove"></i>
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
      </td>
    </tr>
  </tfoot>
</table>

<a ng-href="#/add">
  <button type="button" ng-click="newProject()" class="btn btn-success">
    Neues Projekt
  </button>
</a>

<div ng-show="isLoading" class="loading-indicator"></div>
</div>
