<div class="jumbotron">
  <form class="form-register" ng-submit="register()" novalidate name="registerForm">
    <h2 class="form-register-heading">Registration</h2>
    <label for="inputFirstname" class="sr-only">Firstname</label>
    <input type="email" id="inputFirstname" class="form-control" placeholder="Firstname" ng-required="true" autofocus ng-model="user.firstname">
    <label for="inputName" class="sr-only">Name</label>
    <input type="email" id="inputName" class="form-control" placeholder="Name" ng-required="true" autofocus ng-model="user.name">
    <label for="inputUsername" class="sr-only">E-Mail</label>
    <input type="email" id="inputUsername" class="form-control" placeholder="E-Mail" ng-required="true" autofocus ng-model="user.email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-required="true" ng-model="user.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
</div>
